/* HTML초기화용 */
* {box-sizing: border-box;}
body,html,
h1,h2,h3,h4,h5,h6,fieldset,input,button,select,textarea,
p,ul,ol,li,dl,dt,dd,table,tr,td,th,thead,tbody,tfoot,
div,header,nav,aside,article,section,footer,figure,
address,blockquote,video,iframe,hr,
span,em,strong,q,a,sub,sup,details,figcaption,summary,
time,s,del,code,mark,img {
    font-family: "Pretendard", sans-serif;
    /* font-family: "Noto Sans KR", sans-serif; */
    font-size: 1.0em; 
    font-weight: normal;
    font-style: normal;
    line-height: 1.5; margin: 0; padding: 0;
    color: #000;
}
a {color: #000; text-decoration: none;}
ul,ol,li {list-style: none;}
table, tr, td ,th {border-collapse: collapse;}
th {text-align: left;}
fieldset {border: 0;}
.skip {display: none;}
input, button, input+label {cursor:pointer}
/* 스크롤바 꾸미기 */
body::-webkit-scrollbar {
    background: #fff;
    width: 2px; height: 10px;
}
body::-webkit-scrollbar-thumb {
    background: #121212;
}