body{
    background-color: #f5f5f5;
    min-width: 1021px;
}
body,html {scroll-behavior: smooth;}
section {
    width: 100vw;
    height: 100vh;
}
* h1 {
    font-family: "Tenor Sans", sans-serif;
}
/* 0. 고정메뉴 */
nav {
    position: fixed; z-index: 9999;
    right: 50px;
    bottom: 50px;
}
nav::after {
    content: ''; display: inline-block;
    width: 2.5px; height: 100px;
    background: #000;
    position: absolute;
    right: -20px; top: 15px;
}
nav a {
    display: block; text-align: right;
    padding: 10px 0;
    color: #000;
}
/* 1. intro */
.intro {
    position: relative;
    padding: 50px;
}
.intro h1 {
    font-size: 6.25rem;
    line-height: 1.0;
    font-weight: 700;    
}
.intro .name {
    font-size: 3.125rem;
    font-weight: 700;
    margin-top: 252px;
}
.intro .year {
    position: absolute;
    right: -40px; top: 50%;
    transform: translateY(-50%) rotate(90deg);
    
}
.intro .year p {
    font-size: 6.25rem;
    font-weight: 700;

}
.intro .contact {
    padding-top: 200px;
}
.intro .contact h2 {
    font-weight: 700;
    font-size: 1.25rem;
}
.intro .contact p {
    font-weight: 500;
}
/* 2. profile */
.profile > div {}
.profile {
    display: flex;
    max-width: 1212px;
    margin: 0 auto;
    justify-content: center;
}
.profile .photo {
    width: 442px;
    margin-right: 100px;
}
.profile .photo img {width: 100%;}
.photo p {
    margin-top: 20px;
    font-size: 1.25rem;
}
.profile .list {
    margin-left: 50px;
}
.profile .list h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin : 20px 0;
}
.profile .list p {
    margin-bottom: 10px;
}
.profile .list .first p em {
    font-weight: 500;
    font-size: 1.25rem;
    padding-right: 5px;
}
.profile .list .first p span {
    color: #555;
    font-weight: 500;
}
.profile .list .second {
    display: flex;
}
.profile .list .second p {}
.profile .list .second p:nth-child(2) {
    margin-left: 50px;
}
.profile .list .second p em {
    font-weight: 500;
    font-size: 1.25rem;
}
.profile .list .second p span {
    color: #555;
    font-weight: 500;
}
.profile .list h3 {
    font-size: 1.25rem;
    font-weight: 500;
}
.profile .list p {}
.profile .list p span {
    color: #555;
    font-weight: 500;
}
.profile .list .skill {
    display: flex;
}
.profile .list .skill p {
    margin-right: 22px;
}
.profile .list .skill p span {}
/* 3. index */
.index {}
.index h1 {
    font-size: 5rem;
}
.index h2 {}
.index ul {}
.index ul li {}
/* 4. 프로젝트 */
.project_app,
.project_web,
.project_sns {
    max-width: 1920px;
}
.project_app h1,
.project_web h1, 
.project_sns h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 50px;
}
/* 4-1 앱 */
.project_app .app,
.project_web .web {
    display: flex;
    max-width: 1520px;
    margin: 0 auto;
    align-items: center;
}
.thum {
    width: 904px;
}
.thum img {width: 100%;}
.app_info {
    margin-left: 50px;
}
.info {margin-left: 129px;}
.info p {
    font-size: 1.075rem;
    font-weight: 700;
}
.info h3 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 57px;
}
.info .date {
    font-size: 1.5rem;
    font-weight: 500;
}
.info ul {}
.info ul li:nth-of-type(odd) {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.8;
} 
.info ul li:nth-of-type(even) {
    font-size: 1.475rem;
    font-weight: 700;
} 
.link {
    padding-top: 20px;
}
.link a {
    border: 1px solid black;
    display: inline-block;
    padding: 10px 27.1px;
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 500;
    background-color: none;
    transition: background-color 0.5s ease, color 0.5s ease, border 0.5s;
}
.link a:hover {
    background-color: #0077ED;
    border: 1px solid #0077ED;
    color: #fff;
} 
/* 4-2. 웹 */
.project_web {
    /* margin: 200px 0; */
}
.web {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.web1 .info,
.web3 .info {
    margin-right: 129px;
    margin-left: 0;
}
.web2 .info,
.web4 .info {
    margin-left: 129px;
    margin-right: 0;
}
/* sns디자인 */
.sns .swiper-wrapper {transition-timing-function: linear;}/* 일정속도 */
.sns .swiper-slide {align-self: center;}/* flex 내장 */
.sns .swiper-slide img {width: 100%;}
/* 5. 마무리 */
.last h1 {
    text-align: center;
    font-size: 10rem;
}
/* 풀페이지 네비 */
#fp-nav ul li a {
    cursor: pointer;
}
#fp-nav ul li a span {
    background-color: #c4c4c4;
    cursor: pointer;
}
#fp-nav ul li a.active span {
    background-color: #121212;
    cursor: pointer;
}
#fp-nav.right {
    right: 60px;
}
#fp-nav {
    top: 85%;
}